{% include 'base.html'%}
{% include 'navigation.html'%}

<style>
  .section-padding {
    padding: 45px 0;
}
.section-dark {
    background-color: #E7F6F2;
    background-image: url(https://phonoteka.org/uploads/posts/2021-05/1621656200_27-phonoteka_org-p-fon-dlya-prezentatsii-po-ginekologii-33.jpg);
    z-index: -5;
}

.page-holder {
    min-height: 90vh;
}

.bg-cover {
    background-size: cover !important;
}

.form-control,
.form-group .form-control {
    border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
    -webkit-background-size: 0 2px, 100% 1px;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center -webkit-calc(100% - 1px);
    background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0
}

.form-group {
    position: relative
}

.form-group.label-floating label.control-label,
.form-group.label-placeholder label.control-label,
.form-group.label-static label.control-label {
    position: absolute;
    pointer-events: none;
    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all
}


.help-block {
    margin-top: 0;
    font-size: 12px
}

.form-group {
    padding-bottom: 7px;
    margin: 28px 0 0 0
}

.form-group .form-control {
    margin-bottom: 7px
}


.form-group label.control-label {
    font-size: 12px;
    line-height: 1.07142857;
    font-weight: 400;
    margin: 16px 0 0 0
}


.form-group.label-floating.is-focused label.control-label,
.form-group.label-floating:not(.is-empty) label.control-label,
.form-group.label-static label.control-label {
    top: -30px;
    left: 0;
    font-size: 16px;
    line-height: 1.07142857
}

.input-group-btn .btn {
    margin: 0 0 7px 0
}

.form-group.form-group-sm .input-group-btn .btn {
    margin: 0 0 3px 0
}

.form-group.form-group-lg .input-group-btn .btn {
    margin: 0 0 9px 0
}

.input-group .input-group-btn {
    padding: 0 12px
}

.input-group .input-group-addon {
    border: 0;
    background: 0 0
}

.contact-widget-section .single-contact-widget {
    background: #f9f9f9;
    padding: 20px 25px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
    height: 260px;
    margin-top: 25px;
    transition: all 0.3s ease-in-out
}

.contact-widget-section .single-contact-widget i {
    font-size: 75px
}

.contact-widget-section .single-contact-widget h3 {
    font-size: 20px;
    color: #333;
    font-weight: 700;
    padding-bottom: 10px
}

.contact-widget-section .single-contact-widget p {
    line-height: 16px
}

.contact-widget-section .single-contact-widget:hover {
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.46);
    cursor: pointer;
    transition: all 0.3s ease-in-out
}

#contactForm {
    margin-top: -10px
}

#contactForm .form-group label.control-label {
    color: #231955
}

#contactForm .form-control {
    font-weight: 500;
    height: auto
}


</style>

<section class="Material-contact-section section-padding section-dark page-holder bg-cover">
  <div class="container">
      <div class="row">
          <!-- Section Titile -->
          <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
              <h1 class="section-title">Love to Hear From You</h1>
          </div>
      </div>
      <div class="row">
          <!-- Section Titile -->
          <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
            <p>We care about the wellbeing of every patient. Drop any any issue, request or suggestion here. </p>

            <div class="find-widget">
             Phone:  <a href="https://hostriver.ro">+ 91 234 567 88</a>
            </div>
            <div class="find-widget">
             Address: <a href="#">No.27/A,T.B Jaya Mawatha,Colombo 7,Sri Lanka.</a>
            </div>
            <div class="find-widget">
               E-mail: <a href="#">phoenixnetwork@gmail.com</a>
            </div>
          </div>
          <!-- contact form -->
          <div style = "background-color: #E7F6F2; border-radius: 5px;" class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
              <form class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
                  <!-- Name -->
                  <div class="form-group label-floating">
                    <label class="control-label" for="name">Name</label>
                    <input class="form-control" id="name" type="text" name="name" required data-error="Please enter your name">
                    <div class="help-block with-errors"></div>
                  </div>
                  <!-- email -->
                  <div class="form-group label-floating">
                    <label class="control-label" for="email">Email</label>
                    <input class="form-control" id="email" type="email" name="email" required data-error="Please enter your Email">
                    <div class="help-block with-errors"></div>
                  </div>
                  <!-- Subject -->
                  <div class="form-group label-floating">
                    <label class="control-label">Subject</label>
                    <input class="form-control" id="msg_subject" type="text" name="subject" required data-error="Please enter your message subject">
                    <div class="help-block with-errors"></div>
                  </div>
                  <!-- Message -->
                  <div class="form-group label-floating">
                      <label for="message" class="control-label">Message</label>
                      <textarea class="form-control" rows="3" id="message" name="message" required data-error="Write your message"></textarea>
                      <div class="help-block with-errors"></div>
                  </div>
                  <!-- Form Submit -->
                  <div class="form-submit mt-5">
                      <button style="background-color: #66BFBF; color: #F9F9F9;"class="btn btn-common" type="submit" id="form-submit"><i class="material-icons mdi mdi-message-outline"></i> Send Message</button>
                      <div id="msgSubmit" class="h3 text-center hidden"></div>
                      <div class="clearfix"></div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>
